meter::-webkit-meter-bar {
	    background: red;
	    height: 100%;
	    width: 100%;
	    box-sizing: border-box;
}
meter::-webkit-meter-optimum-value {
	    background: yellow;
	    height: 100%;
	    box-sizing: border-box;
	}
